css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;


}

header {

     background: url('weather.jpg') no-repeat center center/cover;

    padding: 10px;
    text-align: center;
    color: white;
}
nav ul {
list-style-type: none;

}
nav ul li {
display: inline;
margin: 20px;
}
nav ul li a {
color: white;
text-decoration: none;
}

main {
margin:20px;
background-color: #4CAF50;
text-align: center;
color: blue;

}

#weatherData {
    margin-top: 20px;
    padding: 20px;
   background-color: rgba(255, 255, 128, .5);;
   color: blue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
text-align: center;
padding:10px;
background-color:#92a8d1;
position: fixed;
bottom: 0;
width: 98%;
color: white;
}